extends ../layout

block content
  .page-header   
  
   
      .col-sm-offset-3.col-sm-7
        h1 Developer Sign-In
        a.btn.btn-block.btn-github.btn-social(href='/auth/github')
          i.fa.fa-github
          | Sign in with GitHub



