extends ../layout

block content
  h2 API's to integrate
  hr

  .row
    .col-sm-4
      a(href='/api/github', style='color: #fff')
        .panel.panel-default(style='background-color: #000')
          .panel-body
            img(src='http://i.imgur.com/2AaBlpf.png', height=40)
            |  GitHub
    
    .col-sm-4
      a(href='/api/linkedin', style='color: #fff')
        .panel.panel-default(style='background-color: #007bb6')
          .panel-body
            img(src='http://i.imgur.com/sYmVWAw.png', height=40)
            |  LinkedIn
    
    
    .col-sm-4
      a(href='/api/scraping', style='color: #fff')
        .panel.panel-default(style='background-color: #ff6500')
          .panel-body
            img(src='http://i.imgur.com/RGCVvyR.png', height=40)
            |  Web Scraping
    
    